// variables import
@import './variables.scss';


// Global Style
body {
  font-family: $fontPrimary;

  a {
    text-decoration: none;
    display: inline-block;
    transition: $transition;

    &:hover {
      color: $colorPrimary !important;
    }
  }

  .border-bottom {
    border-bottom-color: $colorDarkSecondary !important;
  }

  .form-control {
    border: none;

    &:focus {
      box-shadow: none;
    }
  }

  .input-group {
    .input-group-text {
      background-color: $colorPrimary;
      border: none;
      cursor: pointer;
      transition: $transition;
      font-weight: 700;

      &:hover {
        color: $colorWhite;
      }
    }
  }

  .gap-10 {
    gap: 10px;
  }

  .gap-15 {
    gap: 15px;
  }

  .gap-30 {
    gap: 30px;
  }

  .button {
    background-color: $colorSecondary;
    color: $colorWhite;
    font-size: 14px;
    padding: 13px 33px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 500;

    &:hover {
      background-color: $colorPrimary;
      color: $colorSecondary !important;
    }
  }

  .card {
    box-shadow: 0 0 10px #0000001a;
    border: none;
    border-radius: unset;
  }
}


// Components
@import '../components/header.scss';
@import '../components/banner.scss';
@import '../components/category.scss';


// Pages
@import '../pages/home.scss';




// Footer
@import '../components/footer.scss';