.mainBanner {
  .mainBannerContent {
    top: 15%;
    left: 5%;

    h4 {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: $colorDanger;
      margin: 0 0 12px;
      letter-spacing: 0.3px;
      text-transform: uppercase;
    }

    h5 {
      font-size: 42px;
      line-height: 54px;
      letter-spacing: -2px;
      font-weight: 500;
      text-transform: none;
    }

    p {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.4px;
      color: $colorDark;
    }
  }
}

.categoryBanner {
  width: 49%;

  .mainBannerContent {
    top: 24%;
    left: 8%;

    h4 {
      font-size: 14px;
    }

    h5 {
      font-size: 22px;
      line-height: 32px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
    }
  }
}