.blogItem {
  .card {
    transition: $transition;
    overflow: hidden;

    .card-img-top {
      transition: $transition;
    }

    &:hover {
      box-shadow: $shadow;

      .card-img-top {
        transform: scale(1.1);
      }
    }
  }
}