.header {
  background-color: $colorDark;

  .icon {
    color: $colorWhite;
    font-size: 24px;
  }

  .row {
    padding: 16px 0;
  }

  // Top Header
  .headerTopStrip {
    border-bottom: 1px solid $colorDarkSecondary;

    p {
      margin-bottom: 0;
    }

    p,
    a {
      color: $colorWhite;
    }
  }

  // Middle Header
  .headerUpper {
    .input-group-text {
      background-color: $colorPrimary;
      border: none;
      cursor: pointer;
      transition: $transition;
      font-weight: 700;

      &:hover {
        color: $colorWhite;
      }
    }

    .header-upper-links {
      p {
        font-size: 14px;
      }
    }
  }

  // Bottom Header
  .headerBottom {
    background-color: $colorSecondary;

    .menu-links a,
    .dropdown button {
      color: $colorWhite;
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      letter-spacing: 0.3;
      text-transform: uppercase;
    }

    .dropdown button {
      &:focus {
        box-shadow: none;
      }
    }

    .menu-links a {
      &:hover {
        color: $colorPrimary;
      }
    }

    .dropdown-menu {
      background-color: $colorDark;
      width: 100%;
      transform: translate3d(0px, 57px, 0px) !important;
    }

    .dropdown-item {
      padding: 8px 16px;
      margin-bottom: 3px;
      border-bottom: 1px solid $colorDarkSecondary;

      &:hover,
      &:active {
        background-color: $colorDark !important;
        color: $colorPrimary !important;
      }
    }
  }

}